.GRleftDIV{
    position:relative;
}
.GRleftDIV ul{
    position:absolute;
    z-index:3;
}
.GRtitle{
    background-image:radial-gradient(#fff,#F1F1F1);
    border-radius:5px;
    width:100%;
    height:75px;
}
.GRtitleT{
    float:left;
}
.GRtitleL{
    width:25%;
    height:100%;
}
.GRtitleL>button{
    width:100%;
    border:none;
    text-align:center;
    line-height:75px;
    font-weight:bold;
    font-size: 20px;
}
.GRtitleL>h2:hover{
    cursor: pointer;
    text-align:center;
    line-height:75px;
    font-weight:bold;
    font-size: 20px;
}
.GRleftNAV{
    list-style:none;
    width:25%;
    background:#656563;
    display:none;
    height:200px;
    z-index:10;
}
.GRleftNAV>li{
    width:100%;
    height:40px;
    text-align:center;
    line-height:40px;
}
.GRtitleH3{
    margin-left:160px;
    line-height:73px;
    font-size:24px;
    color:#9E9E9E;
}
.GRcontent{
    width:100%;
    height:auto;
    position:relative;
}
.GRIMG{
    width:250px;
    height:250px;
    margin-top:65px;
    margin-left:135px;
    float:left;
}
.GRform1{
    float:left;
    margin-top:60px;
    margin-left:140px;
}
.GRform1>div>input{
    margin-bottom:20px;
}
.GRform1 span{
    display:block;
    margin-bottom:15px;
}
/*a  upload */

.a-upload {
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
	margin-left:-305px;
	margin-top:10px;
    *display: inline;
    *zoom: 1;
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    /*filter: alpha(opacity=0);*/
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}
#GRmenu{
    cursor: pointer;
    border-radius: 5px;
    margin-top: 0px;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    border: none;
    background-color: #ed3931;
    padding: 0;
}
#GRleftDIV>ul>li>a{
    display:block;
    width:100%;
    height:100%;
    color:#F2FFFF;
}
.GRlinkONE{
    display:inline-block;
    cursor: pointer;
    border-radius: 5px;
    width: 80px;
    color: #fff;
    height: 30px;
    font-size: 15px;
    line-height:30px;
    background-color: #ed3931;
    border:2px solid #483340;
    text-align:center;
    vertical-align:top;
}
.GRsecure{
    width: 600px;
    height: auto;
    margin-left: 430px;
    margin-top: 80px;
}
.GRsecure>div{
    margin-bottom: 50px;
    font-size: 20px;
}
.GRsecuretext{
    display:inline-block;
    width:300px;
    height:30px;
    margin-right: 20px;
}
.GRmoney{
    width:100%;
    height:150px;
    text-align:center;
    line-height:150px;
    font-size:50px;
}
.GRfilm{
    width:100%;
    height: auto;
    background-image:linear-gradient(67deg,#fff,#f1f1f1,#fff,#F1F1F1,#fff);
}
.filmTOP{
    float:left;
    margin-top:26px;
    margin-left:90px;
    width:195px;
    height:195px;
    border:1px solid green;
}
.filmTOP>img{
    width:100%;
    height:100%;
}
.filmBOTTOM{
    float:left;
    width:780px;
    height:auto;
    box-shadow:0px 0px 0px 1px #D3D3D3;
    margin-top: 26px;
    margin-left: 90px;
    margin-bottom: 20px;
}
.filmBOTTOM>span{
    display:inline-block;
    width:auto;
    height:18px;
    margin-left:20px;
    margin-top:10px;
    margin-bottom:10px;
}
.filmBOTTOM>div{
    margin-left:20px;
}
.GRpagin{
    width:100%;
}
.GRpagin>a{
    display:inline-block;
    color:#A9A9A9;
    width:200px;
    margin: 5px auto;
    margin-left:520px;
}
.GRpagin>ul{
    margin-top:10px;
}
.GRpagin>ul>li{
    float:left;
    margin-left:5px;
}
.GRorder{
    color: #150133;
    width: 1165px;
    height: auto;
    box-shadow:0px 0px 0px 1px #405F25;
    margin: 12px;
    background-image: linear-gradient(67deg,#C4EA83,#405F25);
}

.GRordertop>span{
    display:inline-block;
    height:50px;
    width:180px;
    line-height:50px;
    border:1px solid #F2F2F2;
    text-align:center;
    margin-left:15px;
    margin-top:12px;
    margin-bottom:12px;
}
.GRorderbottom>span{
    margin-left:20px;
}
.GRorderbottom>b{
    margin-left:380px;
}
.GRorderCT{
    background-image:linear-gradient(67deg,#fff,#f1f1f1,#fff,#F1F1F1,#fff);
}
.GRorderCT>a{
    display:inline-block;
    color:#A9A9A9;
    width:200px;
    margin: 5px auto;
    margin-left:520px;
}
.orderyear{
    margin-left:325px;
}
.ordersearch{
    color:#aeaeae;
}
.orderday{
    margin-right:100px;
}
.pagination{
    width:auto;
    margin-left:30px;
}
.pagination>li{
    float:left;
    margin-left:8px;
}
.updateONE{
    margin-bottom:15px;
}
.updateFORM{
    width:300px;
    margin:0px auto;
    margin-top:70px;
}
.VALIDATEone{
    width:105px;
}







